*

!.gitkeep
!.gitignore
!.editorconfig
!requirements.txt
!*.rst
!*.py

!docs
docs/*
!docs/.gitkeep

!draprun
draprun/*
!draprun/*.py
!draprun/*.kv
!draprun/.gitkeep

!examples
examples/*
!examples/uml_inheritance
examples/uml_inheritance/*
!examples/uml_inheritance/.gitkeep

!tests
tests/*
!tests/.gitkeep
